body {
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    width: 564px !important;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
}

.align-center {
    text-align: center !important;
    margin-top: 20px;
    padding-bottom: 60px;
}

.form-group {
    margin-bottom: 24px;

}

/* .has-error {
    color: #e25c3d;
} */

.btn-block-level {
    width: 100%;
}

.btn-facebook {
    background-color: #1778f2 !important;
    color: #fff !important;

}

.icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    fill: #fff;
}

.form-separator {
    height: 1px;
    margin: 36px 0;
}

.form-separator p {
    display: block;
    color: #111;
    margin: -11px auto;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
}

.labl {
    margin-bottom: 10px;
    height: 24px;
}

.btn-black {
    color: #fff !important;
    background-color: #111 !important;
}

.links {
    color: #767676;
    text-decoration: underline;
}